<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.infra.persistence.sql.mapper.HumidMapper">

    <resultMap id="HumidData" type="com.demo.domain.model.HumidModel">
        <result property="id" column="id"/>
        <result property="humid" column="humid"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="getHumidDataLatest" resultMap="HumidData">
        SELECT
        *
        FROM
        humid
        ORDER BY id DESC limit 1
    </select>

    <delete id="deleteHumidData">
        DELETE
        FROM
        humid
    </delete>

</mapper>