<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.infra.persistence.sql.mapper.PressureMapper">

    <insert id="setPressureData">
        INSERT INTO
        pressure (
        pressure,
        time
        ) VALUE (
        #{pressure},
        now()
        )
    </insert>

    <resultMap id="PressureData" type="com.demo.domain.model.PressureModel">
        <result property="id" column="id"/>
        <result property="pressure" column="pressure"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="getPressureDataLatest" resultMap="PressureData">
        SELECT
        *
        FROM
        pressure
        ORDER BY id DESC limit 1
    </select>

    <delete id="deletePressureData">
        DELETE
        FROM
        pressure
    </delete>

</mapper>