<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.infra.persistence.sql.mapper.TempMapper">

    <insert id="setTempData">
        INSERT INTO
        temperature (
        temp,
        time
        ) VALUE (
        #{temp},
        now()
        )
    </insert>

    <resultMap id="TempData" type="com.demo.domain.model.TempModel">
        <result property="id" column="id"/>
        <result property="temp" column="temp"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="getTempDataLatest" resultMap="TempData">
        SELECT
        *
        FROM
        temperature
        ORDER BY id DESC limit 1
    </select>

    <delete id="deleteTempData">
        DELETE
        FROM
        temperature
    </delete>


</mapper>